* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Regular";
  src: local("regular"), url("./font/MonaSans-Regular.ttf") format("truetype");
}

body {
  font-family: "Regular", sans-serif;
  background-color: #fdfdfd;
  color: #1d2c5e;
}

header {
  background-color: #fdfdfd;
  height: 200px;
  width: 100vw;
  border-bottom: #f00 .25px solid;
  position: sticky;
  top: 0;
}

a {
  text-decoration: none;
  color: #333;
}

header > .burger-logo-search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 160px;
}
header > section > .section-menu-burger {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
/* Need to adjust the path to target the (only ".logo" seem to work)  */
.logo {
  height: 16vh;
  width: auto;
}
header > section > section > .menu-burger {
  width: 48px;
}
header > section > .search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header > section > .search-bar > input {
  height: 30px;
  width: 230px;
  outline: none;
  margin: 10px 0;
  background-color: #3466af;
  color: #fdfdfd;
  border: none;
  border-bottom: 2px solid #1d2c5e;
  border-left: 2px solid #1d2c5e;
  border-radius: 5px;
  padding: 0 15px;
  &::placeholder {
    color: #fdfdfd;
    text-align: center;
  }
}
.search-bar > button {
  height: 30px;
  width: 100px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #f00;
  color: #fdfdfd;
}
header > nav {
  margin-top: 25px;
  & > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    & > li {
      font-size: 1.3rem;
    }
  }
}

/* Page Pokemons */
.pokemonCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.Generation-numbers {
  color: black;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: xx-large;
  padding-top: 2rem;
  margin-bottom: 3rem;
}

.input-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 230px;
  margin: 0 1vw;
  outline: none;
  border: none;
  border-bottom: 1px solid #fdfdfd;
  border-left: 1px solid #fdfdfd;
  border-radius: 5px;
  background-color: #ff4444;
  color: #fdfdfd;
  &::placeholder {
    color: #ffaaaa;
    text-align: center;
  }
}

.btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  margin: 0 1vw;
  outline: none;
  border: 2px solid #ff0000;
  border-radius: 5px;
  background-color: #fdfdfd;
}

.map-pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100vw;
  margin-bottom: 50px;
  & > figure {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.regionImg {
  object-fit: cover;
  width: 600px;
  height: 400px;
  margin: 20px;
}

.title-map {
  text-align: center;
}

.paragraphe {
  font-size: 120%;
  width: 100vw;
  text-align: center;
  margin-top: 50px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #ff0000;
  height: 150px;
}
footer > .social-legal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* accessibility us22 */
.legal > p {
  color: black;
}
.subscribe > label {
  color: black;
}
.search-bar > button {
  background-color: #3466af;
}

.wildex-logo-title {
  display: flex;
  flex-direction: column;
}
/* accessibility us22  */
footer > section > .legal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fdfdfd;
}
footer > section > .social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #ff0000;
}
.social > a > .social-icon {
  height: 30px;
  width: 30px;
  margin: 0 1vw;
}

footer > .subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1vw;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  header > section > section > .logo {
    height: 80px;
    width: auto;
  }
  nav {
    display: none;
  }
  footer {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    padding: 10px 0;
  }
  footer > .social-legal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .social {
    margin: 20px 0;
  }
  .legal {
    margin: 20px 0;

    color: #fdfdfd;
  }
}

@media screen and (max-width: 576px) {
  header > .burger-logo-search {
    display: flex;
    flex-direction: column;
    & > .section-menu-burger {
      display: flex;
      justify-content: space-around;
      align-content: center;
      width: 100vw;
      & > .menu-burger {
        margin: 10vh 0 0 0;
      }
      & > .logo {
        margin: 10vh 5vw 0 0;
      }
    }
    header > nav {
      display: none;
      background-color: #f00;
    }
  }
  header > section > .search-bar {
    display: none;
  }
}
